# for BrandinBlog's domain, 2013-05-09
<VirtualHost *:80>
        ServerAdmin webmaster@localhost

        DocumentRoot /var/www/caq/brandinblog/
        ServerName brandinblog.thuir.org

        <Directory />
                Options -Indexes FollowSymLinks
                DirectoryIndex index.html index.htm default.htm index.php
                AllowOverride None
                Order allow,deny
                allow from all
        </Directory>
</VirtualHost>
